<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sklep</title>
  <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-gray-100 text-gray-800">
  <header class="p-4 bg-white shadow">
    <h2 class="text-xl font-bold">Sklep Internetowy</h2>
  </header>